body {
	margin: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0a0a0d;
	height: 100vh;
}

#canvas {
	aspect-ratio: 16/9;
	max-width: 100vw;
	max-height: 100vh;
}
